{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center" style="margin-top: 50px;">Réinitialiser votre mot de passe</h3>
                </div>
                <div class="card-body">
                    <p>Nous vous avons envoyé par email les instructions pour définir votre mot de passe.</p>
                    <p>Si vous ne recevez pas d'email, veuillez vous assurer que vous avez entré l'adresse avec laquelle vous vous êtes inscrit.</p>
                </div>
            </div>
            <p class="text-center mt-3">Vous avez déjà un compte ? <a href="{% url 'login' %}">Se connecter</a></p>
        </div>
    </div>
</div>
{% endblock %}


