{% autoescape off %}
Bonjour,

Vous recevez cet email car vous avez demandé la réinitialisation de votre mot de passe pour votre compte sur notre site.

Veuillez cliquer sur le lien suivant pour réinitialiser votre mot de passe :

{{ protocol }}://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=uid token=token %}

votre identifiant, est au cas où vous l'avez oublié : {{ user.get_username }}

Si vous n'avez pas demandé la réinitialisation de votre mot de passe, veuillez ignorer cet email.

Cordialement,
L'équipe de {{ site_name }}
{% endautoescape %}

